
.Headphone-page {
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

.Headphone-page h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #222;
  font-size: 2rem;
}

.H_product-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Cố định 5 cột */
  gap: 20px;
}

.H_product-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease;
}

.H_product-card:hover {
  transform: scale(1.05); /* Khi hover sẽ làm card phóng to */
}

.H_product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.H_product-card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.H_product-card p {
  font-size: 16px;
  color: #333;
}

.H_product-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.H_product-card-footer .rating {
  display: flex;
}

.H_add-to-cart-btn {
  background-color: #0091f8;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.H_add-to-cart-btn:hover {
  background-color: #e09500;
}
