/* CSS cho trang Headphone */
.headphone-page {
  display: flex;
  padding: 20px;
  background-color: rgb(255, 2, 2);;
  font-family: 'Arial', sans-serif;
}

.headphone-sidebar {
  width: 20%;
  padding: 20px;
  background-color: rgb(251, 68, 68);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.headphone-sidebar h2 {
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.brand-list-headphone {
  list-style-type: none;
  padding: 0;
}

.brand-item-headphone {
  cursor: pointer;
  color: #ffffff; /* Đặt màu đen cho tên thương hiệu */
  font-size: 18px;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.brand-item-headphone:hover {
  color: #ffcc00; /* Chuyển màu vàng khi hover */
}

.headphone-products {
  width: 80%;
  padding: 20px;
  
}

.headphone-products h1 {
  font-size: 28px;
  color: #e9e7e7; /* Màu đỏ đậm */
  margin-bottom: 20px;
  text-align: center;
}

.product-list-headphone {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cột */
  gap: 20px;
}

.load-more-btn-headphone {
  background-color: #0091f8; /* Màu xanh lam */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  width: 120px;
  margin-left: 45%;
}

.load-more-btn-headphone:hover {
  background-color: #e09500; /* Màu vàng khi hover */
}

@media (max-width: 768px) {
  .headphone-page {
    flex-direction: column;
  }

  .headphone-sidebar {
    width: 100%;
    margin-bottom: 20px;
  }

  .headphone-products {
    width: 100%;
  }

  .product-list-headphone {
    grid-template-columns: repeat(2, 1fr); /* 2 cột trên màn hình nhỏ */
  }

  .load-more-btn-headphone {
    font-size: 14px;
    padding: 8px 15px;
  }
}
