.keyboard-page {
  display: flex;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #1a1a1a; /* Màu xám đậm hiện đại */
  color: #fff; /* Đảm bảo chữ dễ đọc trên nền tối */
  min-height: 100vh;
}

.keyboard-page h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  animation: colorChange 5s infinite;
}

@keyframes colorChange {
  0% {
    color: #222; /* Màu bắt đầu */
  }
  25% {
    color: #f00; /* Màu đỏ */
  }
  50% {
    color: #0f0; /* Màu xanh lá */
  }
  75% {
    color: #00f; /* Màu xanh dương */
  }
  100% {
    color: #ddd; /* Quay lại màu cuối */
  }
}

/* Sidebar */
.keyboard-sidebar {
  width: 250px;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.keyboard-sidebar h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ede9e9;
}

.brand-list {
  list-style: none;
  padding: 0;
}

.brand-item {
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  color: #ccc;
}

.brand-item:hover {
  color: #007bff;
}

/* Hiển thị sản phẩm */
.keyboard-products {
  flex: 1;
  padding: 20px;
}

.product-list-key {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

.brand-section-key {
  margin-bottom: 50px;
}

.brand-section-key h2 {
  font-size: 1.8rem;
  color: #34495e;
  margin-bottom: 15px;
  border-left: 4px solid #3498db;
  padding-left: 10px;
  color: #ff9800;
}

/* Card sản phẩm */
.product-list-key .product-card {
  width: 220px;
  min-height: 320px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-list-key .product-card:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.product-list-key .product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.product-list-key .product-card h3 {
  font-size: 1.4rem;
  margin: 12px 0;
  color: #333;
  font-weight: bold;
}

.product-list-key .product-card p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.product-list-key .product-card .add-to-cart-btn {
  background-color: #1c41e9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.product-list-key .product-card .add-to-cart-btn:hover {
  background-color: #dd5e23;
}
.load-more-btn {
  display: block;
  width: 100px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 45%;
}

.load-more-btn:hover {
  background-color: #0056b3;
}
