.cart-item {
  display: flex;
  align-items: center; /* Align items horizontally */
  margin-bottom: 10px;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.cart-item-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 10px;
}

.cart-item-info {
  display: flex;
  flex-direction: row; /* Arrange info and button in a row */
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cart-item-info p {
  margin: 0;
}

.remove-item-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 6px;
  cursor: pointer;
  margin-left: 10px; /* Add space between info and button */
  font-size: 0.9rem;
}

.remove-item-btn:hover {
  background-color: blue;
}
