@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

.productDetail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px; /* Giới hạn chiều rộng tối đa */
  margin: 0 auto; /* Đảm bảo căn giữa */
}

.productImage {
  flex: 1;
  max-width: 45%;
  text-align: center;
}

.productImage img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.productInfo {
  flex: 1;
  max-width: 45%;
  padding-left: 40px;
  text-align: left;
}

.productInfo h2 {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700; /* Hoặc bất kỳ trọng số nào bạn muốn */
  font-size: 28px;
  color: #0a263c;
}

.productInfo p {
  margin-bottom: 10px;
  font-size: 18px;
}

.productInfo .addToCartBtn {
  padding: 10px 15px;
  margin-top: 20px;
  background-color: #1add21;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.productInfo .addToCartBtn:hover {
  background-color: #2c7891;
}

.productInfo .backToHomeBtn {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.productInfo .backToHomeBtn:hover {
  background-color: #dc3545;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Tối hơn để làm nổi bật ảnh */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent img {
  width: 100%; /* Chiều rộng đầy màn hình */
  height: 100%; /* Chiều cao đầy màn hình */
  object-fit: contain; /* Giữ tỷ lệ ảnh */
  background-color: black; /* Đảm bảo không có vùng trống xung quanh ảnh */
}

.modal:hover {
  cursor: pointer;
}
