/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131921;
  padding: 10px 20px;
}
.navbarz {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #05d74f;
  padding: 5px 15px;
}

/* Logo styling */
.navbar-logo a {
  color: #fff;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
}

/* Search Bar styling */
.navbar-search {
  display: flex;
  align-items: center;
  margin-left: 20px;
  background-color: white;
  border-radius: 4px;
}

.navbar-search-category {
  padding: 8px;
  border: none;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
  color: #555;
}

.navbar-search-input {
  padding: 8px;
  border: none;
  border-radius: 0 4px 4px 0;
  width: 500px;
  font-size: 16px;
}

.navbar-search-button {
  padding: 8.6px;
  border: none;
  background-color: #ff9900;
  color: white;
  font-size: 16px;
  cursor: pointer;
}


.navbar-search-button:hover {
  background-color: #ff7f00;
}

/* Links on the right (Account, Orders, Cart) */
.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  margin: 0 15px;
}

.navbar-link:hover {
  text-decoration: underline;
}

.navbar-link i {
  margin-right: 8px;
}

.navbar-button {  
  background-color: transparent;  
  color: white;  
  border: none;  
  margin: 0 10px;  
  padding: 7px 10px;  
  border-radius: 5px;  
  cursor: pointer;  
  font-size: 16px;  
  transition: background-color 0.5s;  
}
.button-container {  
  display: flex;  
  justify-content: space-between; /* Cách đều các items */
}  
.navbar-button:hover {  
  background-color: rgba(75, 67, 67, 0.2); /* Hiệu ứng hover cho nút */  
}  