/* Định dạng cho navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  color: #333;
}

.navbar-logo a {
  font-size: 24px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

.navbar-search {
  display: flex;
  align-items: center;
}
.navbar-search input {
  border: 2px solid rgb(129, 123, 123);
}

.navbar-search-input {
  padding: 5px 50px;
  font-size: 14px;
  border-radius: 20px; /* Thêm border-radius cho ô tìm kiếm */
  color: #333;
  border: none;
}

.navbar-search-button {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 50%; /* Đổi thành hình tròn */
  cursor: pointer;
  margin-left: 5px; /* Khoảng cách giữa ô tìm kiếm và button */
}

.navbar-links {
  display: flex;
  gap: 15px;
  font-size: 18px;
}

.navbar-link {
  color: rgb(17, 15, 15);
  text-decoration: none;
}

/* Định dạng cho các nút danh mục */
.navbar-category-buttons {
  display: flex;
  gap: 10px; /* Khoảng cách giữa các nút */
  justify-content: flex-start;
  margin-top: 10px;
}

.navbar-category-btn {
  background-color: #f0f0f0;
  color: #333;
  width: 121px; /* Thay đổi thành hình tròn */
  height: 36px; /* Thay đổi thành hình tròn */
  border: none;
  border-radius: 20px; /* Hình tròn */
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.navbar-category-btn.active {
  background-color: #007bff;
  color: white;
}

.navbar-category-btn:hover {
  background-color: #e0e0e0;
}

.navbar-category-btn:focus {
  outline: none;
}

/* Định dạng cho các nút khi trang Account */
.navbarz {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.navbar-links a:hover {
  color: #007bff;
}
