/* Định dạng cho navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:linear-gradient(90deg, #2c3e50, #7f8c8d);
  color: #ffffff;
  border-radius: 5px;
  height: 80px;
}

.navbar-logo a {
  font-size: 24px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

.navbar-search {
  position: relative;
  display: flex;
  align-items: center;
}
.navbar-search input {
  border: 2px solid rgb(255, 255, 255);
}

.navbar-search-input {
  padding: 5px 50px;
  font-size: 14px;
  border-radius: 20px; /* Thêm border-radius cho ô tìm kiếm */
  color: #090909;
  border: none;
}

/* Thay đổi kích thước biểu tượng tìm kiếm */
.navbar-search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ddd;
}

/* Thay đổi kích thước của FontAwesome icon */
.navbar-search-button .fa-search {
  font-size: 16px; /* Thay đổi kích thước tại đây */
  color: #333; /* Màu sắc của biểu tượng */
}

.navbar-links {
  display: flex;
  gap: 15px;
  font-size: 18px;
}

.navbar-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* Định dạng cho các nút danh mục */
.navbar-category-buttons {
  display: flex;
  gap: 10px; /* Khoảng cách giữa các nút */
  justify-content: flex-start;
  margin-top: 10px;
}

.navbar-category-btn {
  background-color: #f0f0f0;
  color: #333;
  width: 121px; /* Thay đổi thành hình tròn */
  height: 36px; /* Thay đổi thành hình tròn */
  border: none;
  border-radius: 20px; /* Hình tròn */
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.navbar-category-btn.active {
  background-color: #007bff;
  color: white;
}

.navbar-category-btn:hover {
  background-color: #e0e0e0;
}

.navbar-category-btn:focus {
  outline: none;
}

/* Định dạng cho các nút khi trang Account */
.navbarz {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.navbar-links a:hover {
  color: #007bff;
}
.search-suggestions {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.search-suggestion-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  color: #333;
  display: block;
}

.search-suggestion-item:hover {
  background-color: #f0f0f0;
}

.search-suggestion-item:last-child {
  border-bottom: none;
}
a {
  text-decoration: none !important;
}
.navbar-logo img {
  height: 110px; /* Thay đổi kích thước logo */
  width: auto;
}
